<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <title>Reddit User Comments</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="RedditCommentController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Raon</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Apps</li>
                <li><a href="/al-bhed">Al Bhed Translator</a></li>
                <li><a href="/crain-reddit">Crain Reddit</a></li>
                <li><a href="/dice-app">Dice App</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="container" style="padding-top: 50px;">
        <h2 class="text-center row">Paginated List of Reddit User Comments</h2>
        <p class="well row">Input the name of the reddit user whose comment list you would like to retrieve.</p>
        <form class="form-horizontal row" role="form" no-validate>
            <div class="form-group">
                <label for="reddit-user" class="control-label col-md-2">Username</label>
                <div class="col-md-4">
                    <input class="form-control" type="text" id="reddit-user" placeholder="Username" ng-model="userName">
                     <span class="error" ng-show="myForm.input.$error.required">Required!</span>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success" ng-click="GetUserComments(userName)"><span class="glyphicon glyphicon-search"></span> Get comments for User</button>
                </div>
                <label for="comment-limit" class="control-label col-md-1">Limit</label>
                <div class="col-md-1">
                    <input class="form-control" type="number" id="comment-limit" ng-model="limit">
                </div>
            </div>
        </form>
        <ul class="list-unstyled row">
            <li ng-repeat="comment in comments track by $index">
              <a href="{{comment.data.link_url}}">{{comment.data.link_title}}</a>
              <dl class="dl-horizontal">
                <dt>Date Posted</dt>
                <dd>{{comment.data.created_utc * 1000 | date:'MM/dd/yyyy'}}</dd><!-- * 1000 Because javascript UTC is milliseconds -->
                <dt>Comment</dt>
                <dd>{{comment.data.body}}</dd>
                <dt>Score</dt>
                <dd>{{comment.data.score}}</dd>
              </dl>
            </li>
        </ul>
        <ul class="pager" ng-if="searched">
          <li ng-if="before !== null"><a ng-click="GetUserComments(userName,count,before,'',limit)">Previous</a></li>
          <li ng-if="after !== null"><a ng-click="GetUserComments(userName,count,'',after,limit)">Next</a></li>
        </ul>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-sanitize.min.js"></script>-->
<script type="text/javascript">
    function RedditCommentController($scope,$http) {
        var baseUrl = "http://www.reddit.com/user/";
        $scope.searched = false;
        $scope.noUser = false;
        $scope.limit = 25;
        $scope.GetUserComments = function(user,commentCount,before,after,commentLimit){
          if(commentCount < $scope.limit){
            commentCount = $scope.limit + 1;
          }
          var url_data = "/comments.json?count=" + commentCount  + "&after=" + after + "&before=" + before + "&limit=" + commentLimit;
          if (user === ""){
            $scope.noUser = true;
          }
          else{
            $http({
              url: baseUrl + user + url_data,
              method: "GET"
            }).success(function (data, status, headers, config){
              $scope.searched = true;
              $scope.comments = data.data.children;
              $scope.count = $scope.comments.length;
              $scope.after = data.data.after;
              $scope.before = data.data.before;
              $scope.status = status;
            }).error(function (data, status, headers, config){
              $scope.data = data || "Request failed";
              $scope.status = status;
            });
          }
        }    
    }
</script>
</body>
</html>